# http://editorconfig.org

# top-most EditorConfig file
root = true

# Newline ending every file
[*]
insert_final_newline = true

# 2 space indentation
[*.{js,json,ts}]
indent_style = space
indent_size = 2
